@model RevenueCash.Models.Piezas.Tablero

<div class="tablero">
    <div class="fila disparoArriba">
        <div class="celdaVacia"></div>
        @for (int indiceArriba = 0; indiceArriba < Model.Size; indiceArriba++)
        {
            @Html.Partial("Partial/FichaDisparo", Model.FichaDisparo[RevenueCash.Models.Piezas.Posicion.Arriba][indiceArriba])
            }
        <div class="celdaVacia"></div>
    </div>

    @for (int fila = 0; fila < Model.Size; fila++)
    {
        <div class="fila">
            @Html.Partial("Partial/FichaDisparo", Model.FichaDisparo[RevenueCash.Models.Piezas.Posicion.Izquierda][fila])
            @for (int columna = 0; columna < Model.Size; columna++)
            {
                @Html.Partial("Partial/Celda", Model.Celdas[fila, columna])
            }
            @Html.Partial("Partial/FichaDisparo", Model.FichaDisparo[RevenueCash.Models.Piezas.Posicion.Derecha][fila])
        </div>
    }

    <div class="fila disparoAbajo">
        <div class="celdaVacia"></div>
        @for (int indiceAbajo = 0; indiceAbajo < Model.Size; indiceAbajo++)
        {
            @Html.Partial("Partial/FichaDisparo", Model.FichaDisparo[RevenueCash.Models.Piezas.Posicion.Abajo][indiceAbajo])
            }
        <div class="celdaVacia"></div>
    </div>

</div>